/* =========================
   FOOTER BASE
========================= */

#footer {
    width: 100%;
    font-family: "Open Sans", Arial, sans-serif;
}

.footer_bg_dark {
    background-color: #2c2a29;
    color: #ffffff;
    padding: 56px 0;
}

.bc-container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.bc-row {
    display: grid;
    grid-template-columns: 1fr 2fr 1.2fr 2fr;
    gap: 48px;
    align-items: start;
}


.acor-header {
    margin-bottom: 16px;
}

.acor-header h6 {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    color: #ffffff;
}

.acor-header span {
    display: none;
}

.acor-content {
    display: block;
}

.acor-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.acor-content li {
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 1.5;
}

/* ===== LINKS - MAYOR ESPECIFICIDAD ===== */
#footer .footer-link,
#footer .acor-content a,
#footer .acor-content ul li a {
    color: #ffffff !important;
    text-decoration: none;
    font-size: 10px;
}

#footer .footer-link:hover,
#footer .acor-content a:hover,
#footer .acor-content ul li a:hover {
    text-decoration: underline;
    color: #ffffff !important;
}


.acor-content .bc-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}


.acor-content li a {
    color: #ffffff;
}


.footer-description p {
    font-size: 13px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #ffffff;
}

/* =========================
   LÍNEA VERTICAL BLANCA
========================= */

.footer-description {
    padding-left: 32px;
    /* separa el contenido de la línea */
    border-left: 1px solid #ffffff;
}

.vigilado {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
}

.vigilado p {
    font-size: 12px;
    margin: 0;
    color: #ffffff;
}

.social-media {
    display: flex;
    gap: 12px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-media li {
    width: 32px;
    height: 32px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media li a svg {
    width: 14px;
    height: 14px;
    fill: #2c2a29;
    /* color del icono */
}

.footer_bg_light {
    background-color: #ffffff;
}

.footer-bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 11px;
}

/* IZQUIERDA */
.footer-left img {
    width: 200px;
    height: 55px;
    font-size: 55px;
    margin: 0;
}

/* DERECHA */
.footer-right p {
    font-size: 13px;
    color: #2c2a29;
    margin: 0;
}

.footer-logo p {
    font-size: 13px;
    color: #2c2a29;
    margin: 0;
}


/* =========================
   FOOTER DESKTOP (PC)
========================= */
@media (min-width: 769px) {

    .acor-content {
        display: block;
    }

}