#footer .bc-row {
    margin: 0;
}

#footer .deletePadd {
    padding-left: 0;
    padding-right: 0;
}

#footer .deletePaddLef {
    padding-left: 0;
}

#footer .footer_bg_dark {
    padding-top: 56px;
    padding-bottom: 74px;
    background-color: #2C2A29;
    color: white;
}

#footer .footer_bg_light {
    background-color: white;
}

#footer .acor-header {
    padding-bottom: 26px;
}

#footer .acor-header .acor-header-right {
    display: none;
}

#footer .contact-us {
    color: white;
}

#footer ul li {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.17px;
    padding: 10px 0;
    list-style-type: none;
}

#footer ul li a {
    text-decoration: none;
    color: white;
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.17px;
    font-family: "Open Sans", sans-serif;
}

#footer em {
    width: 24px;
    height: 24px;
    color: white;
}

#footer .especial-flex {
    padding: 46px 0 0 0;
}

#footer .description {
    border-left: 1px solid white;
    padding-top: 50px;
    padding-left: 20px;
}

#footer .description p {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.17px;
}

#footer .description .vigilado {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer .description .vigilado p {
    font-size: 8px;
    display: inline;
}

#footer .description .logo-vigilado {
    max-width: 180px;
}

#footer .social_media {
    display: flex;
    justify-content: initial;
    margin: 40px 0 0 0;
}

#footer .social_media .wa-icon {
    width: 22px;
    border: 2px solid white;
    border-radius: 1000px;
    background-color: white;
    color: black;
    font-size: 19px;
}

#footer .social_media ul {
    max-width: 250px;
    display: flex;
}

#footer .social_media ul li {
    padding: 0;
    padding-right: 20px;
}

#footer .footer_bg_light .footer-logo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

#footer .footer_bg_light .footer-logo .bc-icon {
    width: 200px;
    height: 55px;
    font-size: 55px;
    margin: 0;
}

#footer .footer_bg_light .footer-logo .footer-copyright {
    margin: 0;
}

#estado-de-canales{
    display: flex;
    align-items: center;
}

#estado-de-canales::after {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background-color: #00C389;
    margin-left: 12px;
    margin-top: 8px;
    transform: translateY(-50%);
    animation: titileo 1s infinite alternate;
}
  
  @keyframes titileo {
    0% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  }

@media screen and (max-width: 991px) {
    #footer .footer_bg_dark {
        padding-top: 16px;
        padding-bottom: 0;
    }

    #footer .acors-group {
        border-top: 1px solid white;
    }

    #footer .acor-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #footer .acor-header .acor-header-right {
        display: block;
        cursor: pointer;
    }

    #footer .acor .acor-content {
        padding-left: 35px;
        padding-bottom: 20px;
    }

    #footer .show-content {
        display: block;
    }

    #footer .hidden-content {
        display: none;
    }

    #footer .hidden-content-arrow {
        rotate: 0deg;
        transition: rotate 0.2s;
    }

    #footer .show-content-arrow {
        rotate: 180deg;
        transition: rotate 0.2s;
    }

    #footer .especial-flex {
        padding: 0;
        padding-bottom: 10px;
    }

    #footer .description {
        border: none;
        padding-top: 0;
        padding-left: 0;
    }

    #footer .description .logo-vigilado {
        max-width: 150px;
    }

    #footer .social_media {
        display: flex;
        justify-content: center;
        margin: 30px 0 40px 0;
    }

    #footer .footer_bg_light .footer-logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }

    #footer .footer_bg_light .footer-logo .bc-icon {
        margin: 20px 0 0 0;
    }

    #footer .footer_bg_light .footer-logo .footer-copyright {
        margin: 0 0 40px 0;
    }
}