.cib-fonts-setup-light {
  font-family: "CIBFont Sans";
  src: url("../../assets/fonts/CIBFontSansLight.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.cib-fonts-setup-bold {
  font-family: "CIBFont Sans";
  src: url("../../assets/fonts/CIBFontSansBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}