.cib-fonts-setup-light {
  font-family: "CIBFont Sans";
  src: url("../../assets/fonts/CIBFontSansLight.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.cib-fonts-setup-bold {
  font-family: "CIBFont Sans";
  src: url("../../assets/fonts/CIBFontSansBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.opensans-bold {
  font-family: "Open Sans";
  src: url("../../assets/fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.opensans-regular {
  font-family: "Open Sans";
  src: url("../../assets/fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.opensans-semibold {
  font-family: "Open Sans";
  src: url("../../assets/fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}